* {
    margin: 0;
}

body {
    background: radial-gradient(#dbc1a0, bisque);
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    color: black;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #FFFF99;
    box-shadow: 5px 5px 10px darkgrey;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

td {
    font-family: "Apple Chancery", cursive;
    position: relative;
}

td:nth-child(3) {
    text-align: center;
 }

#top {
    background: linear-gradient(to right, rgb(139, 222, 255), #74ebd5);
    }

#add-task-btn {
    display: block;
    background-color: rgb(255, 220, 103);
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: rgb(255, 208, 55);
}

#task-in {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

.done {
    background-color: rgb(192, 192, 142);
}

.completed {
    background-color: chartreuse;
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 2px 2px 4px darkgrey;
}

.completed:hover {
    background-color: rgb(116, 230, 3);
}

.delete {
    background-color: orangered;
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 2px 2px 4px darkgrey;
}

.delete:hover {
    background-color: rgb(240, 64, 0);
}