* {
    margin: 0;
}

body {
    background-color: bisque;
}


#top {
    background-color: deepskyblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}

#add-task-btn {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin: 20px auto;
}

#task-in {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #FFFF99;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

td {
    font-family: "Apple Chancery", cursive;
    position: relative;
}

.done {
    background-color: rgb(192, 192, 142);
}