* {
    margin: 0;
}

body {
    background-color: bisque;
}

td:nth-child(3) {
    text-align: center;
 }

#top {
    background-color: deepskyblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    animation: warning 1s alternate infinite;
}

#add-task-btn {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin: 20px auto;
    position: relative;
    animation: slide 3s alternate infinite;
    cursor: pointer;
}

#task-in {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #FFFF99;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

td {
    font-family: "Apple Chancery", cursive;
    position: relative;
}

.done {
    background-color: rgb(192, 192, 142);
}

.completed {
    background-color: chartreuse;
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
    animation: sway 3s alternate infinite ease-in-out;
    cursor: pointer;
}

.delete {
    background-color: orangered;
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
    animation: sway2 4s alternate infinite;
    cursor: pointer;
}

@keyframes slide {
    0% {
        left: -500px;
        background-color: darkorange;
    }
    10% {
        left: 100px;
    }
    25% {
        left: -150px;
    }
    100% {
        left: 100px;
    }
}

@keyframes sway {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(20deg);
    }
}

@keyframes sway2 {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

@keyframes warning {
    0% {
        color: antiquewhite;
    }
    10% {
        color: aqua;
    }
    20% {
        color: blueviolet;
    }
    30% {
        color: chartreuse;
    }
    40% {
        color: coral;
    }
    50% {
        color: darkorange;
    }
    60% {
        color: fuchsia;
    }
    70% {
        color: honeydew;
    }
    80% {
        color: lime;
    }
    90% {
        color: skyblue;
    }
    100% {
        color: gold;
    }
}